extends _app.pug

block content 
    .blogs
        h1 Blogs
        h3 Welcome #{user}
    
    .blogContainer
        h2 Latest Blogs
        each blog in blogs
            .blog
               each post in blog.posts
                    .post_content
                        h3 #{post.title}
                        span By #{blog.name} &nbsp;
                        if user == blog.name
                            a(href=`/api/blog/delete/${post.id}`) Delete | 
                            a(href=`/api/blog/edit/${post.id}`) Edit
                        p  #{post.slug}
                        a(href=`/api/blog/${post.id}`) Read more
